---
import { Container } from '@littlesticks/odyssey-theme-components';
---


<br>
<br>
<br>
     <h2 style="margin-top:50px;margin-bottom:50px;text-align:center;">Preguntas frecuentes</h2>

  <div class="accordion-container">
    <div class="accordion-column">
      <div class="accordion-wrapper">




<div class="accordion">
    <input type="radio" name="radio-a" id="check1">
    <label class="accordion-label" for="check1">¿Está protegida mi privacidad?</label>
    <div class="accordion-content">
      <p>Sí, la privacidad es una preocupación fundamental en la terapia. Los psicólogos están legalmente obligados a mantener la confidencialidad de lo que se discute en las sesiones, a menos que haya un riesgo inminente para la seguridad del paciente o de otros. La privacidad y la confidencialidad son fundamentales para crear un entorno seguro en la terapia.</p>
    </div>
  </div>

  <div class="accordion">
    <input type="radio" name="radio-a" id="check2">
    <label class="accordion-label" for="check2">¿Cuándo debo acudir al psicólogo?</label>
    <div class="accordion-content">
      <p>Debes considerar ver a un psicólogo si estás experimentando síntomas o problemas emocionales que afectan significativamente tu calidad de vida. Esto podría incluir sentimientos de tristeza, ansiedad, estrés extremo, cambios en el sueño o el apetito, problemas de relación, problemas en el trabajo o en la escuela, o cualquier otra dificultad emocional que te impida funcionar de manera óptima.</p>
    </div>
  </div>

  <div class="accordion">
    <input type="radio" name="radio-a" id="check3">
    <label class="accordion-label" for="check3">¿Cómo sé si mi hij@ tiene que ir al psicólogo?</label>
    <div class="accordion-content">
      <p>Algunos signos que podrían indicar que tu hijo podría beneficiarse de ver a un psicólogo incluyen cambios notables en el comportamiento, dificultades en la escuela, aislamiento social, cambios en el estado de ánimo, miedos o preocupaciones excesivas, problemas de sueño, y problemas emocionales que interfieren con su vida cotidiana. Si tienes preocupaciones, es una buena idea consultar a un profesional para una evaluación.</p>
    </div>
  </div>

  <div class="accordion">
    <input type="radio" name="radio-a" id="check4">
    <label class="accordion-label" for="check4">¿Cuánto tiempo durará mi terapia?</label>
    <div class="accordion-content">
      <p>La duración de la terapia varía según la persona y la naturaleza de los problemas. Algunas terapias pueden ser breves, con solo unas pocas sesiones, mientras que otras pueden extenderse durante varios meses o más.</p>
    </div>
  </div>

  <div class="accordion">
    <input type="radio" name="radio-a" id="check5">
    <label class="accordion-label" for="check5">¿Cómo puedo manejar el estrés y la ansiedad?</label>
    <div class="accordion-content">
      <p>Aprendiendo estrategias de afrontamiento efectivas y técnicas como; la relajación, mindfulness, cambios en el estilo de vida y terapia cognitivo-conductual.</p>
    </div>
  </div>

  <div class="accordion">
    <input type="radio" name="radio-a" id="check6">
    <label class="accordion-label" for="check6">¿Qué puedo hacer para mejorar mi autoestima?</label>
    <div class="accordion-content">
      <p>Se pueden explorar creencias negativas sobre uno mismo y reemplazarlas con pensamientos más positivos y realistas. También puede involucrar el desarrollo de habilidades personales y la construcción de logros personales.</p>
    </div>
  </div>






        <!-- Otros acordeones aquí -->
      </div>
    </div>
    <div class="accordion-column">
      <div class="accordion-wrapper">

<div class="accordion">
    <input type="radio" name="radio-a" id="check8">
    <label class="accordion-label" for="check3">¿Cómo lidiar con los conflictos en las relaciones personales?</label>
    <div class="accordion-content">
      <p>La terapia puede ayudar a mejorar la comunicación, desarrollar habilidades de resolución de conflictos y explorar patrones de interacción en relaciones personales.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check9">
    <label class="accordion-label" for="check9">¿Qué técnicas puedo usar para mejorar mi bienestar emocional?</label>
    <div class="accordion-content">
      <p>Las técnicas para mejorar el bienestar emocional pueden incluir mindfulness, ejercicio, gestión del estrés, identificación de pensamientos negativos y su reemplazo por pensamientos más positivos, y participación en actividades que generen alegría y satisfacción.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check10">
    <label class="accordion-label" for="check10">¿Cómo puedo dejar de procrastinar?</label>
    <div class="accordion-content">
      <p>Abordar la procrastinación a menudo implica establecer metas claras, crear un plan de acción, eliminar distracciones y aprender a gestionar el tiempo de manera eficiente. La terapia puede ayudar a identificar las causas subyacentes de la procrastinación.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check11">
    <label class="accordion-label" for="check11">¿Qué puedo hacer para controlar la ira?</label>
    <div class="accordion-content">
      <p>La gestión de la ira implica reconocer los desencadenantes, desarrollar habilidades de comunicación efectiva y estrategias para calmarse, como la respiración profunda o la distracción.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check12">
    <label class="accordion-label" for="check12">¿Cómo enfrentar la depresión?</label>
    <div class="accordion-content">
      <p>El tratamiento de la depresión puede incluir terapia cognitivo-conductual, medicamentos en algunos casos, cambios en el estilo de vida, crear una rutina, evitar el alcohol y drogas, dividir tus objetivos en metas más pequeñas, etc.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check13">
    <label class="accordion-label" for="check13">¿Cómo mejorar mis habilidades de comunicación?</label>
    <div class="accordion-content">
      <p>Mejorar las habilidades de comunicación implica aprender a escuchar activamente, expresar pensamientos y sentimientos de manera clara y respetuosa, y practicar la empatía. La terapia puede proporcionar un espacio para practicar y mejorar.</p>
    </div>
  </div>




        <!-- Otros acordeones aquí -->
      </div>
    </div>
  </div>
</template>












<style>


h1{
    text-align:center;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 0 auto 20px;
}
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}

.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: rgba(4,57,94,.8);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordion-label:hover {
    background: rgba(4,57,94,1);
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: rgba(4,57,94,1);
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: rgba(4,57,94,.7);
    font-size: 18px;
}
input:checked + .accordion-label {
    background: rgba(4,57,94,1);
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}

   .accordion-container {
    display: flex;
    flex-wrap: wrap;
  }

  .accordion-column {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

  /* Estilos para vista responsive */
  @media screen and (max-width: 600px) {
    .accordion-column {
      width: 100%;
    }
  }
  


</style>
