---
import { Container } from '@littlesticks/odyssey-theme-components';
---
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <Container class="containerservicios">
    <h1 style=" margin-top:50px;margin-bottom:50px;">Mis Servicios</h1>
    <section style = "max-width:100%;">
      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_individual.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Terapia individual en Málaga</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un espacio confidencial donde uno puede compartir sus preocupaciones y desafíos con tu psicólogo.</p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">Trabajar juntos para mejorar la salud mental, crecer y superar dificultades.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20individual.">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>



      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_pareja.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Terapia de pareja en Málaga</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un espacio donde se analizan los conflictos que surgen en la relación y las dificultades de cada uno que han contribuido al conflicto. </p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">Responsabilizarse del malestar de cada uno, realizar nuevos ajustes y resolver los problemas para lograr el bienestar de ambos.</p>
          <footer class="footerservicio">
          
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20de%20pareja.">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>


       <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_grupo.jpg" alt="Card image cap" >
        <div class="container">
          <h3 class="title">Terapia grupal en Málaga</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un espacio donde varias personas comparten sus experiencias y desafíos, cuestionándose bajo las indicaciones de un terapeuta.</p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">El objetivo es brindar apoyo, cuestionarse a uno mismo, promover el crecimiento personal y mejorar las habilidades de afrontamiento.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20grupal.">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_familiar.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Terapia familiar en Málaga</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un espacio donde se analizan y abordan los conflictos comunes que surgen en una de convivencia familiar. </p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">La oportunidad de que cada miembro de la familia pueda expresarse, promover cambios y restablecer la salud de la dinámica familiar.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20familiar.">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>



      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_mediacion_familiar.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Mediación Familiar</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un proceso colaborativo que busca resolver conflictos entre miembros de una familia con la ayuda de un profesional. </p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">Fomentar la comunicación, comprensión y encontrar soluciones constructivas para mejorar las relaciones familiares.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20de%20mediaci%C3%B3n%20familiar.">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_niños_adolescentes.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Terapia para niños y adolescentes</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un tratamiento psicológico diseñado para ayudar a comprender, gestionar, superar desafíos emocionales, conductuales y relacionales que surgen en los diferentes momentos evolutivos.</p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">Promover su adaptación, bienestar y desarrollo saludable.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20de%20mediaci%C3%B3n%20familiar.">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_educativa.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Orientación Educativa</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un servicio que analiza y brinda apoyo a estudiantes en aspectos académicos, emocionales y de desarrollo personal.</p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">Facilitar el aprendizaje, promover la toma de decisiones informadas y el bienestar estudiantil.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20de%20Orientaci%C3%B3n%20Educativa">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_laboral.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Orientación Laboral</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un servicio donde se analizan las decisiones, búsqueda de empleo, trayectoria y desarrollo profesional.</p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">Facilitar la elección de la trayectoria laboral adecuada y mejorar las oportunidades laborales.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20de%20Orientaci%C3%B3n%20Laboral">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" src="/assets/images/servicios_oposiciones.jpg" alt="Card image cap">
        <div class="container">
          <h3 class="title">Preparación de Entrevistas y Oposiciones</h2>
          <h4 class="subtitle">¿Qué es?</h3>
          <p>Es un servicio especializado que analiza y brinda apoyo a estudiantes opositores</p>
          <h4 class="subtitle">¿Qué objetivos tiene?</h3>
          <p style="margin-bottom: 40px;">Saber gestionar emocionalmente la situación, ansiedad, motivación, seguridad, analizar tu personalidad, mejorar tus debilidades o fortalezas y superar la prueba.</p>
          <footer class="footerservicio">
            <a href="https://api.whatsapp.com/send?phone=+34654778643&text=Hola%20Mehdi%2C%20me%20gustar%C3%ADa%20reservar%20una%20cita%20para%20una%20terapia%20de%20preparaci%C3%B3n%20de%20entrevista%2Foposiciones.">Reservar<img src="/assets/images/whatsapp-logo-30.png" style ="display:inline; width:16px" ></a>
          </footer>
        </div>
      </div>

    </section>
  </Container>


<style>
  h1 {
    padding-top: 15px;
    width: 100%;
    text-align: center;
  }
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }

.card-img-top {
      width: 500px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
    max-width: 100%;
  height: auto;
}
  .card {
    border: 1px solid #000000;
    
    background-color:#fff;
    position:relative;
  }

  .card .container {
    padding: 15px;
  }

  h3{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: var(--theme-surface-1)
  }

  h4 {
    font-size: 22px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
  }

  footer{
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  .footerservicio{
    min-height: 0vh;
    position:absolute;
    bottom:5px;
    margin-bottom:5px;
  }

  a {
    text-decoration:none
  }



</style>
